<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <strong>Oled leidnud tee koeranäitustele registreerimise äpini.</strong>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          Siin leiadinfot aset leidvate näituste kohta, saad registreerida oma koera näitusele ning tühistada näitusele registreerimise.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" [routerLink]="['/dogshows']">Edasi</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
